@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Dela Gothic One', cursive;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(238, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section h2
{
    position: relative;
    font-size: 130px;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    font-weight: 80;
    -webkit-text-stroke: 0.3vw rgb(252, 1, 1);
}
section h2 span
{
    font-size: 150px;
    color: transparent;
    -webkit-text-stroke: 0.3vw rgb(252, 1, 1);
}
section .black
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background: #fff;
    mix-blend-mode: difference;
}

